# Токен твоего бота от @BotFather
TELEGRAM_TOKEN=YOUR_BOT_TOKEN

# Твой(и) личный Telegram ID (чтобы бот слал уведомления именно тебе, а не спамил всем)
ADMIN_ID=ADMIN_ID,ADMIN_ID,ADMIN_ID

FAMILY_CHAT_ID=FAMILY_CHAT_ID

# URL для отслеживания на Авито (настрой фильтры в браузере и скопируй сюда ссылку)
# TARGET_AVITO_URL=https://www.avito.ru/sankt-peterburg/kvartiry/prodam-ASgBAgICAUSSA8YQ
TARGET_AVITO_URL=https://www.avito.ru/.........
# Интервал проверки в секундах (900 секунд = 15 минут)
AVITO_CHECK_INTERVAL=900

# Путь к локальной базе данных
DATABASE_URL=sqlite:///flat_pulse.db
